<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
<!--    this the permission for phone vibration-->
    <uses-permission android:name="android.permission.VIBRATE" />
<!--    this one allows the application to get access to internet connection-->
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    it allows the application to read from external devices eg sd card-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/program"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Storage"></activity>
        <activity android:name=".Information" />
        <activity android:name=".Ringtone" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ListView" />
        <activity
            android:name=".Main2"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".main1" />
        <activity android:name=".DisplayMessageActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!-- this indicates service-->
        <service android:name=".MyService" />
    </application>

</manifest>